*.pdf
*.tar.gz
*.png
*.jpg
*.jpeg
*.json

HW1/*
!HW1/utils/
HW1/*.pdf
HW1/*.ckpt
!HW1/*.py
!HW1/*.sh
!HW1/old/
HW1/old/*/
!HW1/old/utils/
!HW1/requirements.txt
!HW1/*.md

HW2/*.pdf
HW2/*.ckpt
!HW2/*.py
!HW2/*.sh
!HW2/requirements.txt
!HW2/*.md
HW2/test*/
HW2/check*.py
HW2/testing*.py
HW2/__pycache__/
!HW2/*.png
HW2/nycu-hw2-data/*