*.pdf
*.tar.gz
*.png
*.jpg
*.jpeg
*.json
*.tif
*.zip
*.pyc

WSIS_BBTP/*

HW1/*
!HW1/utils/
HW1/*.pdf
HW1/*.ckpt
!HW1/*.py
!HW1/*.sh
!HW1/old/
HW1/old/*/
!HW1/old/utils/
!HW1/requirements.txt
!HW1/*.md

HW2/*.pdf
HW2/*.ckpt
!HW2/*.py
!HW2/*.sh
!HW2/requirements.txt
!HW2/*.md
HW2/test*/
HW2/check*.py
HW2/testing*.py
HW2/__pycache__/
!HW2/*.png
HW2/nycu-hw2-data/*

HW3/*.pdf
HW3/*.ckpt
!HW3/*.py
!HW3/*.sh
!HW3/requirements.txt
!HW3/*.md
HW3/test*/
HW3/check*.py
HW3/testing*.py
HW3/__pycache__/
!HW3/*.png
HW3/hw3-data/*
HW3/try_*
HW3/drive*
HW3/2025*
HW3/src*

HW4/hw4_realse_dataset/*



Final/*